vendor/
.editorconfig
.gitattributes
.history/
.lando.yml

# Ignore drupal core.
docroot/core


docroot/sites/*/files/*
docroot/sites/default/files/*
docroot/sites/*/private
docroot/sites/*

# Ignore contrib modules.
docroot/modules/contrib
docroot/themes/contrib
docroot/profiles/contrib
docroot/libraries

# Ignore .gitignore.
docroot/.gitignore
docroot/modules/.gitignore
docroot/profiles/.gitignore
docroot/sites/.gitignore
docroot/sites/default/.gitignore
docroot/sites/default/files/.htaccess
docroot/themes/.gitignore