# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/web/sites/*/files

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# Ignore testing related files
/web/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/web/core
/web/sites/example.sites.php
/web/sites/example.settings.local.php
/web/sites/development.services.yml
/vendor
